/* 画面全体の中央寄せ */
.attendance-wrapper {
    min-height: calc(100vh - 120px); /* ヘッダー分をざっくり引く */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0eff2;
    width: 100%;
}

/* 情報ブロック */
.attendance-info {
    margin-bottom: 24px;
}

/* 日付のデザイン */
.attendance-date {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.attendance-date .weekday {
    font-size: 16px;
    font-weight: 600;
    margin-left: -10px;
}

.attendance-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 12px;
}

/* span のテキストを中央に */
.attendance-row .value,
.status-badge {
    text-align: center;
    width: 100%;
}


/* 現在時刻のデザイン */
#current-time {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    letter-spacing: 1px;
}

/* ステータスバッジ */
.status-badge {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;
}

.status-badge {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;
    background: #C8C8C8;
    color: #696969;
}

/* ボタン */
.attendance-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 42px;
    margin-bottom: 24px;
    flex-wrap: wrap;
}

.btn-primary {
    border: none;
    border-radius: 4px;
    padding: 8px 18px;
    font-size: 14px;
    cursor: pointer;

    background-color: #000;
    color: #fff;
}

.btn-secondary {
    border: none;
    border-radius: 4px;
    padding: 8px 18px;
    font-size: 14px;
    cursor: pointer;

    background-color: #fff;
    color: #000;
}

.btn-danger {
    border: none;
    border-radius: 4px;
    padding: 8px 18px;
    font-size: 14px;
    cursor: pointer;

    background-color: #000;
    color: #fff;
}

/* メッセージ */
.finished-message {
    margin: 16px 0;
    line-height: 1.6;
}
