.verify-container {
    width: 1200px;
    margin: 80px auto;
    text-align: center;
    background: #fff;
    padding: 40px;
}

.verify-container p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
}

.mailhog-button {
    display: inline-block;
    background-color: #d9d9d9;
    color: #000;
    padding: 15px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.2s;
    border: 2px solid #888;
}

.mailhog-button:hover {
    background-color: #a3a3a3;
}

.verify-container form {
    margin-top: 35px;
}

.verify-container button {
    margin-top: 15px;
    padding: 10px 20px;
    background: none;
    border: none;
    color: #3c99fd;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}

.verify-container button:hover {
    color: #0056b3;
    text-decoration: none;
}
